# Backend .NET
Backend/bin/
Backend/obj/
*.log
*.notes

# Frontend Angular
Frontend/node_modules/
Frontend/dist/
Frontend/env-config.js

# Base de datos local
Backend/Database/*.txt

# Archivos temporales
*.tmp
*.swp
